
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Github Users</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content fullscreen>     
  <ion-item *ngFor="let user of usersList" (click)=onClick(user.login)>
    <ion-avatar slot="start" >
      <img [src]="user.avatar_url">
      
    </ion-avatar>
    <ion-label >
      <p [ngClass] = "checkRepos(user.public_repos) ? 'redLabel' : 'blackLabel'">{{user.login}}</p>
    </ion-label>
  </ion-item> 
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
