<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img [src]="singleUser.avatar_url" />
    <ion-card-header>
      <ion-card-title>{{singleUser.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>Bio</h1>
      <p>{{singleUser.bio}}</p>
      <h1>Location</h1>
      <p>{{singleUser.location}}</p>
      <h1>Blog</h1>
      <p>{{singleUser.blog}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
